.mainheader {
    width: 100%;
    height: 100px;
    background-color: #525252;
    margin-bottom: 50px;

}

.navButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.navButtons button {
    padding: 20px 15px;
    border-radius: 15px;
    width: 10%;
    font-size: 16px;
}